<!DOCTYPE html>
<html>
    
    
<head>
    <title>Benedikts Blog</title>
</head>


<body>
    <h1><a href='/'>Benedikts Blog</a></h1>
    
    <h2>Hi there! Nice to see you!</h2>
    <h3>Who am I?</h3>
    
    <p>
    My name is Benedikt and I am a Cosmologist, Datascientist and Python Developer.<br>
    I enjoy all things related to space and astrophysics, everything about large amounts of data that I can do statistics with and cool algorithms that I can use to understand our world a little bit better!
    </p>
    
    <h3>What is this Website?</h3>
    
    <p>
    You are looking at my personal website where I tell you about myself, as well as occasionally post blog entries about stuff that I think is interesting. I might also add some codes that Ive written and try to make it as interactive as possible so you can try out what I've been up to!
    </p>
    
    <h3>Blog Posts</h3>
    
    <article>
        <p><a href=''> My first test blogpost </a></p>
        <time>published: 14.06.2022, 12:14</time>
        <p>Some preview of the first blogpost. I could have put a lorem ipsum here but I was too lazy to google it.</p>
    </article>
    
    <article>
        <p><a href=''> My second test blogpost </a></p>
        <time>published: 19.06.2022, 16:38</time>
        <p>Does this one herbal medicine, fasting and climbing a sacred tree cure Alzheimers? Click here to find out!</p>
    </article>

    
    
    
</body>


</html>
